*{
    background-color: rgb(14, 13, 13);
}
.conteiner{
    text-align: center;
    margin-top: 200px;
}
.center{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    min-height: 100vh;
 }
 .circle{
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 70%;
    animation: ring 4s linear infinite;
    cursor: progress;
 }
 @keyframes ring {
    0% {
       transform: rotate(0deg);
       box-shadow: 1px 5px 2px rebeccapurple;
    }
    50%{
       transform: rotate(180deg);
       box-shadow: 1px 5px 2px red;
    }
    100%{
       transform: rotate(360deg);
       box-shadow: 1px 5px 2px blue;
    }
 }
 h1{
    font-size: 30px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 1px;
    line-height: 200px;
    animation:  text 3s ease-in-out infinite;
 }
 @keyframes text{
    50%{
       color: red;
    }
    100%{
     color: aqua;
    }
 }
input{
    border: none;
    border-bottom: 4px solid;
    width: 300px;
    border-color: darkgray;
    color: white;
    user-select:none;
    font-size: 30px;
}
.firstbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
}
.firstbutton button{
    background-color: bisque;
    border: none !important;
    width: 100px;
    height: 100px;
    font-size: 30px;
    
}
.firstbutton button:hover{
    background-color:burlywood;
    cursor: pointer;

}